@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

/* header */

header {
    background-color: #030712;
    padding: 20px 100px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img img {
    width: 150px;
    cursor: pointer;
}

.main-menu {
    display: none;
    gap: 25px;
}

.main-menu li {
    font-size: 13.5px;
    color: #d1d5db;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-menu li:hover {
    color: #f87171;
}

.header-btn {
    color: white;
    background-color: #dc2626;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 13px 23px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    display: none;
}

.header-btn:hover {
    background-color: #b91c1c;
}

.barsIcon {
    color: #9ca3af;
    font-size: 21px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.barsIcon:hover {
    color: white;
}

@media screen and (min-width: 1050px) {
    .barsIcon {
        display: none !important;
    }

    .main-menu {
        display: flex;
    }

    .header-btn {
        display: block;
    }
}

/* hero section */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url(./images/hero-img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 905px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    position: relative;
    height: 905px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero span {
    color: #f87171;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
}

.hero h1 {
    color: white;
    font-size: 3.7rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.hero p {
    color: #e5e7eb;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 10px;
}

.heroBtns {
    gap: 15px;
    justify-content: center;
    padding: 0 40px;
}

.reserveBtn {
    padding: 16px 30px;
    background-color: rgb(220, 38, 38);
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.reserveBtn:hover {
    background-color: #b91c1c;
}

.viewBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.12);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
}

.viewBtn:hover {
    border-color: white;
}

.bottom-arrow {
    animation: bounce 0.6s infinite alternate;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.bottom-arrow i {
    color: #fff9;
    font-size: 35px;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}


@media screen and (min-width: 640px) {
    .heroBtns {
        display: flex;
    }

    .reserveBtn {
        width: 200px;
        height: 56px;
    }

    .viewBtn {
        width: 200px;
        height: 56px;
    }
}

/* story section */

.story {
    background-color: #030712;
    padding: 90px 0;
}

.story .left-img img {
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.story .right-content span {
    color: #f87171;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
}

.story .right-content h2 {
    margin-bottom: 1rem;
    color: white;
    font-size: 3rem;
}

.story .desc {
    color: #9ca3af;
    line-height: 1.5;
}

.story .top-p {
    margin-bottom: 1rem;
    font-size: 17px;
}

.story .bottom-p {
    padding-bottom: 40px;
    font-size: 15.5px;
}

.story .stats {
    border-top: 1px solid #1e2835;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 80px;
    padding-top: 40px;
}

.story .stat-item {
    text-align: center;
}

.story .number {
    color: #f87171;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.2;
    margin-bottom: 5px;
}

.story .name {
    color: #9ca3af;
    font-size: .875rem;
}

@media screen and (max-width: 992px) {
    .story .right-content h2 {
        font-size: 2.3rem;
    }
}

/* menu section */

.menu {
    background-color: #111827;
    padding: 110px 0;
}

.section-top {
    text-align: center;
    margin-bottom: 80px;
}

.section-top span {
    color: #f87171;
    text-transform: uppercase;
    font-weight: 500;
}

.section-top h2 {
    color: white;
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0;
}

.section-top p {
    color: #9ca3af;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.menu-item {
    background-color: #1f2937;
    border-radius: 1rem;
    box-shadow: 0 4px 16px -4px #0000001a;
    overflow: hidden;
}

.menu-item:hover .item-top img {
    transform: scale(1.1);
}

.item-top {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
}

.item-top img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
    transition: all 0.3s ease;
}

.item-top .badge {
    color: white;
    font-weight: 500;
    font-size: .75rem;
    background-color: #dc2626;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 100px;
    padding: 3px 13px;
}

.item-bottom {
    padding: 20px;
}

.title-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.title-price h3 {
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

.title-price span {
    color: #f87171;
    font-weight: 600;
    font-size: 1.125rem;
}

.item-bottom p {
    color: #9ca3af;
    font-size: .875rem;
    line-height: 1.4rem;
    margin-bottom: 15px;
}

.gluten-free-badge {
    color: #d1d5db;
    background-color: #374151;
    font-weight: 500;
    font-size: .75rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    width: 90px;
}

.full-menu {
    color: #f87171;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.full-menu:hover {
    color: #fca5a5;
}

.full-menu i {
    margin-left: 5px;
}

@media screen and (min-width: 992px) {
    .menu-item {
        height: 450px;
    }
}

/* testimonials section */

.testimonials {
    background-color: #030712;
    padding: 110px 0;
}

.testimonial-item {
    background-color: #111827;
    padding: 30px;
    border-radius: 1rem;
}

.stars-and-quote {
    display: flex;
    justify-content: space-between;
}

.stars {
    display: flex;
    gap: 7px;
}

.stars i {
    color: oklch(0.83 0.17 81.03);
    font-size: 14px;
}

.testimonial-item svg {
    color: #7f1d1d80;
    width: 48px;
    height: 48px;
}

.testimonial-item .desc {
    color: #d1d5db;
    margin-top: 5px;
    margin-bottom: 30px;
}

.item-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-letter {
    color: #fca5a5;
    background-color: #7f1d1d80;
    font-weight: 600;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.profile-name {
    color: white;
    font-weight: 600;
}

.profile-desc {
    color: #6b7280;
    font-size: .875rem;
}

@media screen and (min-width: 768px) {
    .testimonial-item {
        height: 310px;
    }
}

/* reservations section */

.reservations {
    background-color: #111827;
    padding: 110px 0;
}

.left-content .top-orange-span {
    color: #f87171;
    text-transform: uppercase;
    font-weight: 500;
}

.left-content h2 {
    color: white;
    font-size: 3rem;
    line-height: 1;
    margin: 1.3rem 0;
}

.left-content .desc {
    color: #d1d5db;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 30px;
}

.call-us {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.call-us p {
    color: #9ca3af;
    font-size: .875rem;
    line-height: 1.5rem;
}

.call-us div {
    font-size: 1.5rem;
    color: white;
    display: flex;
    gap: 13px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}

.call-us div span {
    transition: all 0.3s ease;
}

.call-us div:hover span {
    color: #f87171;
}

.call-us div i {
    color: #f87171;
}

.right-form form {
    background-color: #1f2937;
    border-radius: 1rem;
    padding: 32px;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.label-input label {
    color: #d1d5db;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.5rem;
}

.right-form form input,
.right-form form select,
.right-form form textarea {
    background-color: #374151;
    border: 1px solid #4b5563;
    color: rgb(172, 172, 172);
    border-radius: .5rem;
    margin-top: 4px;
    padding: 14px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
}

.right-form form input::placeholder {
    color: rgb(172, 172, 172);
}
.right-form form textarea::placeholder{
    color: rgb(172, 172, 172);
}

.right-form form input:focus {
    border-color: #ef4444;
}

.right-form form select:focus {
    border-color: #ef4444;
}

.right-form form textarea:focus {
    border-color: #ef4444;
}


.two-inputs {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.formBtn {
    color: white;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #dc2626;
    border-radius: .5rem;
    padding: 16px;
    border: none;
    margin: 30px 0;
    transition: all 0.3s ease;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 20px 25px -5px color-mix(in oklab, oklab(57.7099% .191149 .0987651/.3) 100%, transparent), 0 8px 10px -6px color-mix(in oklab, oklab(57.7099% .191149 .0987651/.3) 100%, transparent);
}

.formBtn:hover {
    background-color: #b91c1c;
}

.formDesc {
    text-align: center;
    color: #9ca3af;
    font-size: .875rem;
    line-height: 1.5;
}